---
layout: default
menu_current: about
---
<div id="about">
	<div id="about-me">
		<div id="about-me-logo"><img src="/img/about-me.png" alt="Me" width="250" height="250" /></div>
		<div id="about-me-description">
			<h1>Caio Gondim</h1>
			<p>I’m a web developer based in São Luís, Brazil, currently working for <a href="http://maximize.com.br">Maximize</a></p>
			<p>If you want to keep in touch, you can find me on <a href="http://twitter.com/caio_gondim">Twitter</a>, <a href="http://github.com/caiogondim">GitHub</a> or by <a href="mailto:me@caiogondim.com">e-mail</a></p>
			<p>Some slides of my talks are available on <a href="https://speakerdeck.com/u/caiogondim">Speaker Deck</a></p>
		</div>
	</div>
	<div id="about-blog">
		<div id="about-blog-logo"><img src="/img/about-blog.png" alt="Me" width="250" height="250" /></div>
		<div id="about-blog-description">
			<h1>The Blog</h1>
			<p>The blog is built with <a href="http://github.com/mojombo/jekyll">Jekyll</a>, with only vanilla HTML, CSS and JS</p>
			<p>Other tools i used was a <a href="http://apple.com/mac">Mac</a>, <a href="http://sublimetext.com">Sublime Text</a>, <a href="http://adobe.com/fireworks">Adobe Fireworks</a> and <a href="http://git-scm.com">Git</a></p>
			<p>The code is available in <a href="http://github.com/caiogondim/caiogondim.com">GitHub</a>. If you find some error, please, <a href="http://github.com/caiogondim/caiogondim.com/issues">let me know</a></p>
		</div>
	</div>
</div>