---
layout: default
menu_current: projects
---

		<ul id="projects">
			<li>
				<a href="http://loopinfinito.com.br" class="project-logo"><img src="/img/projects-loopinfinito.png" alt=""></a>
				<div class="project-description">
					<h1>loopinfinito.com.br</h1>
					<p>Loop Infinito is a brazilian blog about web development created by me and <a href="http://twitter.com/almirfilho">@almirfilho</a></p>
				</div>
			</li>
			<li>
				<a href="http://lesscss.com.br" class="project-logo"><img src="/img/projects-less.png" alt=""></a>
				<div class="project-description">
					<h1>lesscss.com.br</h1>
					<p>A <a href="http://loopinfinito.com.br">Loop Infinito</a> project to translate the LESS documentation to portuguese</p>
				</div>
			</li>
			<li>
				<a href="http://coffeescript.com.br" class="project-logo"><img src="/img/projects-coffeescript.png" alt=""></a>
				<div class="project-description">
					<h1>coffeescript.com.br</h1>
					<p>A <a href="http://loopinfinito.com.br">Loop Infinito</a> project to translate the CoffeeScript documentation to portuguese</p>
				</div>
			</li>
			<li>
				<a href="http://caiogondim.github.com/white-lion/" class="project-logo"><img src="/img/projects-whitelion.png" alt=""></a>
				<div class="project-description">
					<h1>whitelion</h1>
					<p>WhiteLion is a growl theme that tries to be as Lion-esque as possible</p>
				</div>
			</li>
		</ul>