{
  "extends": ["standard", "plugin:react/recommended"],
  "plugins": ["emotion", "json"],
  "parser": "babel-eslint",
  "rules": {
    "react/react-in-jsx-scope": "off"
  },
  "settings": {
    "react": {
      version: "detect"
    }
  }
}
