{% include google-analytics.html %}
<meta charset="UTF-8">
<title>CAIO GONDIM</title>
<link rel="icon" type="image/png" href="/assets/logo.png" />
<link rel="stylesheet" href="/css/main.css">
<link rel="alternate" type="application/atom+xml" title="RSS Feed for caiogondim.com" href="/feed.xml" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
  window.onpageshow = function(event) {
    if (event.persisted) {
      document.querySelector('main').classList.add('from-back-forward-cache')
    }
  }
</script>
