<div class="footer">
  <ul class="footer__list">
    {% if page.slug != 'index' %}
    <li class="footer__list-item"><a href="/">Home</a></li>
    {% endif %}
    {% if page.slug != 'posts' %}
    <li class="footer__list-item"><a href="/posts">Posts</a></li>
    {% endif %}
    {% if page.slug != 'projects' %}
    <li class="footer__list-item"><a href="/projects">Projects</a></li>
    {% endif %}
    {% if page.slug != 'about' %}
    <li class="footer__list-item"><a href="/about">About</a></li>
    {% endif %}
  </ul>
</div>
