---
layout: default
menu_current: blog
---
<article>
            <header>
                <h2>June 30th, 2012</h2>
                <h1>Having fun and things done</h1>
            </header>
            <p>In a year far, far away, I made a landing page for my blog while I was waiting to have some free time to start working on it. Waiting for the perfect time. My excuses at the time was that I was very busy working 8 hours a day and still having to go to University at night. There was no time. And I used that as a reason to explain why the blog wasn't done. The project was left in the dust, the landing page that was supposed to be temporary was there for years, the free time never came and I was still waiting for the perfect time. Then I realized the perfect time never comes and there is no free time nowadays, what we have is the now and priorities.</p>

            <h2>Parkinson's law</h2>
            <p>Accordingly to <a href="http://en.wikipedia.org/wiki/Parkinson's_law">Parkinson's law</a>, "Work expands so as to fill the time available for its completion". But if the works expands to fill all the time available for completion, and mine was infinite, my blog would never see the light of day. So it's was clear I needed a deadline, a date to ship the project.</p>

            <h2>Making it fun</h2>
            <p>I already tried setting deadlines for the blog and it didn't work because I was always postponing the project for whatever reason. The blog was never a priority.</p>

            <p>My friend, <a href="http://twitter.com/almirfilho">@almirfilho</a>, was also coding his bloging since forever and, like me, never shipped it. So we decided to bet some beers, set a deadline and make it fun. The bet was: the blog had to be online before the end of june and the one with the worst blog pays 5 Heinekens. And so the whole thing turned into a game. A competition. And here I am, finishing this post before midnight, because I want to win this silly bet and drink some Heinekens for free.</p>

            <p>I don't know yet if i'll have to pay or not those beers. But if have to, at least i'll drink some beers with my mate and with a goal accomplished. There's no bad scenario if the worst one is to drink beers and pay for just a couple while having one more project checked out from my to-do list.</p>
        </article>