/*
	General
 */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

nav {
	width: 100%;
}

nav ul {
	display: block;
	position: absolute;
	right: 20px;
	top: 30px;
}

.nav-item {
	display: inline-block;
	float: right;
	margin-left: 20px;
	font-family: 'Open Sans';
	text-transform: uppercase;
	font-size: 13px;
	padding: 0 15px;
}

.nav-item a {
	text-decoration: none;
	color: #999999;
	display: inline-block;
	padding-bottom: 4px;
}

.nav-item-current {
	border-bottom: 2px #BFEFFF solid;
}

.logo {
	position: fixed;
	left: 30px;
	top: 20px;
}

p a {
	text-decoration: none;
	/*display: inline-block;*/
	border-bottom: 1px dashed #CCCCCC;
	color: #333;
}

/*
	Blog
 */

article {
	width: 600px;
	position: absolute;
	left: 50%;
	margin-left: -300px;
	top: 70px;
}

article header {
	width: 550px;
	height: 550px;
	background-image: url(/img/post-header-bg.png);
	position: relative;
	left: 25px;
	margin-bottom: 70px;
}

article header h1 {
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 90px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	line-height: 85px;
	letter-spacing: -10px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 190px;
	margin: 0;
}

article header h2 {
	position: absolute;
	top: 150px;
	font-family: 'Open Sans';
	font-weight: lighter;
	font-size: 22px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: -1px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	margin: 0;
	display: block;
	width: 100%;
}

article > h2 {
	font-family: 'Open Sans';
	font-size: 24px;
	font-weight: normal;
	letter-spacing: -2px;
	text-transform: uppercase;
	color: #CCCCCC;
	text-align: center;
}

article p {
	font-family: 'Georgia';
	font-size: 21px;
	font-weight: lighter;
	color: #333333;
	margin: 30px 0;
	line-height: 180%;
}

article p:not(:first-of-type) {
	text-indent: 20px;
}

article p:first-of-type:first-letter {
	float: left;
	font-size: 90px;
	line-height: 60px;
	padding-top: 4px;
	padding-right: 8px;
	/*padding-left: 3px;*/
}

article p:last-of-type {
	margin-bottom: 80px;
}

/*
	Projects
 */
ul#projects {
	width: 700px;
	position: absolute;
	left: 50%;
	top: 100px;
	margin-left: -350px;
}

ul#projects li {
	display: block;
	position: relative;
	margin: 0 0 80px 0;
	height: 204px;
}

.project-logo {
	width: 200px;
	height: 200px;
}

.project-description {
	position: absolute;
	width: 500px;
	left: 200px;
	top: 0;
	padding: 40px 0 0 40px;
}

.project-description h1 {
	font-family: 'Open Sans';
	font-size: 24px;
	font-weight: normal;
	letter-spacing: -2px;
	text-transform: uppercase;
	color: #CCCCCC;
	margin-bottom: 10px;
}

.project-description p {
	font-family: 'Georgia';
	font-size: 21px;
	color: #333333;
}



/*
	About
 */
#about {
	width: 700px;
	position: absolute;
	left: 50%;
	margin-left: -350px;
	top: 100px
}

	#about h1 {
		font-size: 24px;
		font-family: 'Open Sans';
		text-transform: uppercase;
		color: #CCCCCC;
		font-weight: lighter;
		letter-spacing: -2px;
		margin-bottom: 10px;
	}

	#about p {
		margin-bottom: 15px;
	}

	#about-me {
		position: relative;
		height: 250px;
		margin-bottom: 80px;
	}

		#about-me-logo {
			width: 250px;
			height: 250px;
			float: left;
		}

			#about-me-logo img {
				width: 250px;
				height: 250px;
			}

		#about-me-description {
			margin-left: 20px;
			font-family: 'Georgia';
			font-size: 21px;
			color: #333333;
			width: 420px;
			position: absolute;
			left: 280px;
			padding: 10px 0 0 0;
		}

	#about-blog {
		position: relative;
		height: 250px;
		margin-bottom: 80px;
	}

		#about-blog-logo {
			width: 250px;
			height: 250px;
			float: left;
		}

			#about-blog-logo img {
				width: 250px;
				height: 250px;
			}

		#about-blog-description {
			margin-left: 20px;
			font-family: 'Georgia';
			font-size: 21px;
			color: #333333;
			width: 420px;
			position: absolute;
			left: 280px;
			padding: 10px 0 0 0;
		}