// TODO: Separate native elements between artificial ones
// TODO: organize sass in page and components folders

html {
  font-size: 1.25em;
  height: 100%;
}

body {
background-color: white;
font-family: 'Libre Baskerville', serif;
font-weight: 400;
line-height: 1.45;
color: #333;
margin: 0;
height: 100%;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
margin-top: 0;
font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

small, .font_small {font-size: 0.75em;}

.container {
    max-width: 800px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    position: relative;
    padding: 1em;
    line-height: 1.5;

    &.page-index {
      top: 50%;
      transform: translate(-50%, -50%);

      @media (max-width: 500px) and (max-height: 700px) {
        top: 0;
        transform: translateX(-50%);
      }
    }
}

.row {
  display: block;
}

hr {
  clear: both;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  height: 0;
  margin: 2.6em 0;
  padding: 0;
}

/*code {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 3px;
  font-size: 18px;
  padding: 2px;
  white-space: nowrap;
}*/

a, a:visited {
  color: blue;
}
