body {
  padding: calc((100vw / 25) * 1.563);
  max-width: 100%;
}

section {
  margin: 0 0 3.815rem 0;
}

section:last-child {
  margin: 0;
}

.date {
  margin-bottom: 0;
  color: #c0bfc0;
}

::selection {
  filter: invert(100%);
  background-color: #343334;
  color: white;
}

.max-55ch {
  max-width: 55ch;
  width: 100%;
}
