body {
  padding: calc((100vw / 25) * 1.563);
  max-width: 100%;
}

section {
  margin: 0 0 3.815rem 0;
}

section:last-child {
  margin: 0;
}

h3 a {
  text-decoration: none;
}

h3 a:hover {
  text-decoration: underline;
  text-decoration-color: #d8d8d8;
}

.date {
  margin-bottom: 0;
  color: #c0bfc0;
}

::selection {
  filter: invert(100%);
  background-color: #343334;
  color: white;
}

.max-55ch {
  max-width: 55ch;
  width: 100%;
}

video {
  width: 100%;
  margin-bottom: 1rem;
}

img {
  width: 100%;
  margin-bottom: 1rem;
}

p > code {
  white-space: normal;
}

h6 {
  margin-top: 3.052rem;
}
