.header {
  text-align: center;
  margin: 20px 0;
}

.header__logo {
  max-width: 256px;
  width: 40%;
}

.header__title {
    margin-top: 0.4em;
    margin-bottom: 0;
}

.header__subtitle {
    margin-top: 10px;
}
