.post {
    margin-top: 20px;
    position: relative;
}
.post h3 {
  margin-top: 60px;
}
.post__header {
  text-align: center;
  margin-bottom: 60px;
}
.post__title {
    margin-bottom: 0;
}

.post__summary {

}

.post__summary.is-text-centered {
  text-align: center;
}

.post__continue-reading {
  text-align: center;
  display: block;
}

.post__figure {
  width: 100%;
  padding: 0;
  margin: 20px 0;
}
.post__figcaption {
  text-align: center;
}
.post__img {

  width: 100%;
}

.post blockquote {
  border-left: 5px solid #333;
  margin: 0;
  padding-left: 20px;
  font-style: italic;
}
