.page-photo {
  .u-separator {
    position: relative;
  }

  .year {
    right: 0;
    position: absolute;
    display: inline-block;
    color: #c0bfc0;
  }

  .item {
    flex-basis: 100%;
    color: #777677;
  }

  .item div {
    padding-bottom: 56.25%;
    position: relative;
    background-color: #f3f3f3;
  }

  .item img {
    max-width: 100%;
    width: 100%;
    max-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0; // Prevent alt text to be shown while img is loading
  }
}
