.page-post {
  video {
    width: 100%;
    margin-bottom: 1.25rem;
  }

  .img-container > img {
    width: 100%;
  }

  .img-container {
    line-height: 0;
    margin-bottom: 1.25rem;
  }

  p > code {
    white-space: normal;
  }

  .container h6 {
    margin-top: 3.052rem;
  }
}
