<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <title>Caio Gondim</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/main.css" />
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-8911206-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>
    <div id="wrapper">
        <header>
            <nav>
                <div class="logo"><a href="/"><img src="/img/logo.png" alt="logo" /></a></div>
                <ul>
                    <li class="nav-item {% if page.menu_current == 'about' %}nav-item-current{% endif %}"><a href="/about/">About</a></li>
                    <li class="nav-item {% if page.menu_current == 'projects' %}nav-item-current{% endif %}"><a href="/projects/">Projects</a></li>
                    <li class="nav-item {% if page.menu_current == 'blog' %}nav-item-current{% endif %}"><a href="/">Blog</a></li>
                </ul>
            </nav>
        </header>
        {{ content }}
    </div>
</body>
</html>