<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    <div class="container">
        {{> header }}
        <hr>
        {{{contents}}}
        <hr>
        <div class="footer">
            <ul class="footer__list">
                <li class="footer__list-item"><a href="/about.htlm">About</a></li>
                <li class="footer__list-item"><a href="/projects">Projects</a></li>
                <li class="footer__list-item"><a href="/archive.html">Archive</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
