.component-header {
  display: flex;
  padding-top: 0;
  max-width: 66rem;

  a {
    text-decoration: none;
  }

  h1 {
    margin-top: 0;
  }

  .logo {
    width: 3.052rem;
  }

  .logo-text {
    display: block;
    color: #777677;
    font-weight: bold;
    margin-top: -1rem;
    text-transform: uppercase;
  }
}
