.component-section-header {
  h3 a {
    text-decoration: none;
    color: initial;
  }

  h3 a:hover {
    text-decoration: underline;
  }

  .date {
    margin-bottom: 0;
    color: #c0bfc0;
  }
}

.page-post .component-section-header {
  margin-bottom: 3.815rem;
}
