<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  {% include header.html %}
  <section class="u-readable">
    {{ content }}
  </section>
  <section class="u-readable">
    <h6 class="u-separator">Contact</h6>
    <ul>
      <li><a href="mailto://me@caiogondim.com">me@caiogondim.com</a></li>
      <li><a href="https://twitter.com/@caio_gondim" target="_blank">Twitter</a></li>
      <li><a href="https://github.com/caiogondim" target="_blank">GitHub</a></li>
      <li><a href="https://linkedin.com/in/cgondim" target="_blank">LinkedIn</a></li>
      <li><a href="https://instagram.com/caiogondim" target="_blank">Instagram</a></li>
    </ul>
  </section>
</body>
</html>
