<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body class="page-index">
  {% include header.html %}

  <main>
    <section>
      <div class="nav__table-of-contents">
        <a href="/about" class="nav__table-of-contents-item"><h3>ABOUT</h3></a>
        <a href="https://github.com/caiogondim" target="_blank" class="nav__table-of-contents-item"><h3>CODE</h3></a>
        <a href="/photos" class="nav__table-of-contents-item"><h3>PHOTOS</h3></a>
        <a href="/posts" class="nav__table-of-contents-item"><h3>POSTS</h3></a>
        <a href="/projects" class="nav__table-of-contents-item"><h3>PROJECTS</h3></a>
        <a href="/publications" class="nav__table-of-contents-item"><h3>PUBLICATIONS</h3></a>
        <a href="https://www.linkedin.com/in/cgondim/" target="_blank" class="nav__table-of-contents-item"><h3>RÉSUMÉ</h3></a>
        <a href="/talks" class="nav__table-of-contents-item"><h3>TALKS</h3></a>
      </div>
    </section>
  </main>
</body>
</html>
