<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body class="page-photo">
  {% include header.html %}

  <main>
    <section>
      <div class="container">
        <h6 class="u-separator">
          {{ page.alt }} <span class="year">{{ page.album }}</span>
        </h6>
        <div class="item">
          <div>
            <img src="{{ page.src }}" alt="{{ page.alt }}" />
          </div>
        </div>
        <p class="description">
          {{ page.camera }}<br/>
          {{ page.shutterSpeed }} at {{ page.aperture }}<br/>
          {{ page.focalLength }}<br/>
          {{ page.iso }}
        </p>
      </div>
    </section>
  </main>
</body>
</html>
