<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Suprstylin.css</title>
  <link rel="icon" type="image/png" href="./icon.png" />
  <link rel="stylesheet" href="./css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  {% include header.html %}
  <section class="section-typography">
    <div class="container u-legible-width">
      <p class="date">September 5th, 2017</p>
      <h3>Redux and React</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse adipisci quisquam veniam, odio illum sed maiores aspernatur consequuntur excepturi quos! Repellat unde excepturi vitae aut voluptas fugiat voluptatum iusto, quaerat.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse adipisci quisquam veniam, odio illum sed maiores aspernatur consequuntur excepturi quos! Repellat unde excepturi vitae aut voluptas fugiat voluptatum iusto, quaerat.
      </p>
      <p>
        <a href="">Read more...</a>
      </p>
    </div>
  </section>
  <section class="section-typography">
    <div class="container u-legible-width">
      <p class="date">September 5th, 2017</p>
      <h3>Redux and React</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse adipisci quisquam veniam, odio illum sed maiores aspernatur consequuntur excepturi quos! Repellat unde excepturi vitae aut voluptas fugiat voluptatum iusto, quaerat.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse adipisci quisquam veniam, odio illum sed maiores aspernatur consequuntur excepturi quos! Repellat unde excepturi vitae aut voluptas fugiat voluptatum iusto, quaerat.
      </p>
      <p>
        <a href="">Read more...</a>
      </p>
    </div>
  </section>
</body>
</html>
